<template>
  <div>
    <div class="main">
      <MyButton
        :my-button-data="myButtonData"
        @clickAction="onClickAction"
        @enterAction="onEnterAction"
      />
      <MyUglyMenu
        :menu-data="menuData"
        @clickAction="onClickAction"
        @enterAction="onEnterAction"
      />
    </div>
  </div>
</template>
<script>
import { MyButton, MyUglyMenu } from 'storybook1'

export default {
  components: {
    MyButton,
    MyUglyMenu
  },
  data() {
    return {
      myButtonData: {
        title: 'Click me',
        class: 'myButton',
        type: 'default'
      }
    }
  },
  computed: {
    menuData() {
      return new Array(5).fill().map((element, index) => ({
        title: `${this.myButtonData.title} ${index}`,
        type: 'large',
        class: 'myButton myButton--large'
      }))
    }
  },
  methods: {
    onClickAction(data) {
      console.log(`click-${data}`)
    },
    onEnterAction(data) {
      console.log(`enter-${data}`)
    }
  }
}
</script>

<style>
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
