<template>
  <div
    :class="myButtonData.class"
    @click="$emit('clickAction', 'some data')"
    @mouseenter="$emit('enterAction', myButtonData.type)"
  >{{ myButtonData.title }}</div>
</template>

<script>
export default {
  name: "MyButton",
  props: {
    myButtonData: {
      type: Object,
      required: true,
      default: () => ({
        title: "",
        class: "",
        type: ""
      })
    }
  }
};
</script>

<style>
.myButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: rgb(80, 163, 190);
  color: #fff;
  cursor: pointer;
  font-family: Arial;
  margin-bottom: 2rem;
}
.myButton--large {
  width: 300px;
  background: rgb(80, 190, 98);
}
</style>
