<template>
  <div class="myuglymenu">
    <h1>My ugly menu</h1>
    <MyButton
      v-for="singleButtonData in menuData"
      :key="singleButtonData.title"
      :myButtonData="singleButtonData"
      @clickAction="$emit('clickAction',singleButtonData.title)"
      @enterAction="$emit('enterAction',singleButtonData.title)"
    />
  </div>
</template>

<script>
import MyButton from "./MyButton";

export default {
  name: "MyUglyMenu",
  components: {
    MyButton
  },
  props: {
    menuData: {
      type: Array,
      required: true,
      default: () => []
    }
  }
};
</script>

<style>
.myuglymenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  padding: 1rem 4rem;
  background: #fafafa;
  font-family: Arial;
}
</style>