<template>
  <div class="container">
    {{ $typo3.i18n.locale }}
    <nav>
      <nuxt-link :to="navMain.link">{{ navMain.title }}</nuxt-link>
      <template v-if="navMain.children">
        <nuxt-link
          v-for="(item, key) in navMain.children"
          :key="key"
          :to="item.link"
          >{{ item.title }}</nuxt-link
        >
      </template>
    </nav>
    <lang-switcher />
    <nuxt />
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  components: {},
  computed: {
    ...mapState({
      navMain: (state) => state.typo3.initial.navigation[0] || [] // get first instance from root
    })
  }
}
</script>
<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}
</style>
